@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url(images/image2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: bottom right;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  color: black;
  margin: 20px;
  padding: 20px;
}

.overall-div {
  display: relative;
}
.overall-div .header-div {
  position: absolute;
  top: 290px;
  left: 130px;
  font-size: 15px;
}

.overall-div .music-container {
  position: absolute;
  top: 300px;
  left: 100px;
}
.music-container .music-info h4 {
  position: absolute;
  left: 20px;
  top: 30px;
  
  color: black;
  font-size: 15px;
}
.music-container {
  background-image: url(images/back-image.jpg);
  background-size: cover;
  background-position: top left;
  height: 250px;
  width: 350px;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 20px 20px 0 rgba(252, 169, 169, 0.6);
  padding: 5px;
  z-index: 10;
}
.music-container .navigation {
  position: absolute;
  top: 115px;
  left: 130px;
}

/*This is how to get the music player image to start rotating. Note the class of play on the music container */
.music-container .img-container img {
  position: absolute;
  top: 90px;
  left: 25px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  animation: rotate 3s linear infinite;
  animation-play-state: paused;
}

.music-container.play .img-container img {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.action-btn {
  background-color: #dfdfdf;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
}
.action-btn:focus {
  outline: 0;
}

.overall-div .music-container .music-info {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px 15px 0 0;
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(0%);
  opacity: 0;
  transition: transform 0.3s ease-in, opacity 0.3s ease-in;
  z-index: 0;
}

.music-container.play .music-info {
  opacity: 1;
  transform: translateY(-100%);
}







